* {
  margin: 0;
  padding: 0;
 
}

@media only screen and (max-width: 800px) {
  body section .gamebuttons button { 
     font-size: 12px !important;
     padding: 8px !important;
   }
 body section h1 {
   font-size: 5vw !important;
 }

 body section {
  border-radius: 25px;
  height: 70vh !important;
  margin:10px;
  margin-bottom: 5px;
}
section .score {
 margin-top: 35px !important;
  width:95%;
  margin:5%; 
}
   }
/*colours*/
   #characterpage, #gamepage, .resultspage {
    background-color: teal;
    text-align: center;
  }
/*character selection page*/

#characterpage #container {
  width: 97vw;
  height: 75vh;
  margin: 5px;
  background-image: url("assets/images/77762.jpg") !important;
  background-size: 200px 200px;
  animation: scroll 5s linear infinite;
  border: 10px solid purple;
  border-radius: 20px;
  text-align: center;
  overflow: hidden;
}
#characterpage #info
{
    height: 15vh;
    color: antiquewhite;
    border: 10px solid purple;
    border-radius: 20px;
}

@keyframes scroll
{
to {
background-position: -150px -150px;
}
}
#img {
height :55vh;
max-width:500px;
position: relative;
margin-top: 10px;
}
#controls button{
position: relative;
display: inline-block;
padding: 10px;
color: white;
background-color: purple;
font-size: 15px;
font-family: sans-serif;
font-weight: bold;
border-radius: 3px;
box-shadow: 0px 1px 4px -2px #333;
text-shadow: 0px -1px #333;
border-radius: 10px;
margin-bottom: 5px;
}
#controls button:after{
content: '';
position: absolute;
top: 2px;
left: 2px;
width: calc(100% - 4px);
height: 50%;
background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
border-radius: 10px;
}
#contols button:hover{
color: teal;
font-size: 28px;
}


/*game page*/
body section {
  height: 75vh;
  margin: 10px auto;
  background-image: url("assets/images/77762.jpg") ;
  background-size: 200px 200px;
  animation: scroll 5s linear infinite;
  border: 10px solid purple;
  border-radius: 20px;
  text-align: center;
  background-color: ;
  color: antiquewhite;
  overflow: hidden;
}

.gamebuttons button {
  border-radius: 50%; 
  font-size: 5vh;
  color: blue;
  margin: 10px;
  margin-top: 5%;
  position: relative;
  display: inline-block;
  padding: 15px;
  color: blue;
  background-color: purple;
  font-family: sans-serif;
  font-weight: bold;
  box-shadow: 0px 1px 4px -2px #333;
  text-shadow: 0px -1px #333;
  margin-bottom: 5px;
}
section img {
  height: 65vh;
  margin: 4px;
}

section h1 {
  font-size: 5vh;
}
.scorecontainer {
  background-color: purple;
  border-radius: 25px;
  border: purple 8px solid;
  width:99%;
  font-size: x-large;
  color: antiquewhite;
}
.score button {
  position: relative;
display: inline-block;
padding: 5px;
color: blue;
background-color: purple;
font-size: 15px;
font-family: sans-serif;
font-weight: bold;
border-radius: 3px;
box-shadow: 0px 1px 4px -2px #333;
text-shadow: 0px -1px #333;
border-radius: 10px;
margin-bottom: 5px;
margin-top: 5px;
}
  
.modal-content {
  background-color: purple;
}

/*result page*/
 .win { 
    color: antiquewhite;
    border: 10px solid purple;
    border-radius: 20px;
}
.resultspage .container-fluid {
  height: 60vh;
}
.resultspage img {
 height: 50vh;
}
.resultspage button {
  position: relative;
display: inline-block;
padding: 10px;
color: white;
background-color: purple;
font-size: 15px;
font-family: sans-serif;
font-weight: bold;
border-radius: 3px;
box-shadow: 0px 1px 4px -2px #333;
text-shadow: 0px -1px #333;
border-radius: 10px;
margin-bottom: 5px;
}
.resultspage p {
  font-size: x-large;
}